{% extends 'layouts/app.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-6">
        
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <section class="vh-100 gradient-custom">
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                      <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
              
                          <div class="mb-md-5 mt-md-4 pb-5">
              
                            <h2 class="fw-bold mb-2 text-uppercase">REGISTER</h2>
                            <p class="text-white-50 mb-5">Please enter your NEW USERNAME and password!</p>

                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <div class="form-group">
                                <label for="{{ form.username.id_for_label}}">Username:</label>
                                <input type="text" name="{{ form.username.name }}" class="form-control" value="{{ form.username.value}}" />
                                {% if form.username.errors %}
                                <span class="text-danger">{{ form.username.errors }}</span>
                                {% endif %}
                                </div>
                                  </div>
              
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                               
                          <div class="form-group">
                              <label for="{{ form.password1.id_for_label}}">Password:</label>
                              <input type="password" name="{{ form.password1.name }}" class="form-control" value="{{ form.password1.value}}" />
                              <span class="text-danger">{{ form.password1.errors }}</span>
                          </div>
                            </div>
              
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                              <div class="form-group">
                              <label for="{{ form.password2.id_for_label}}">Re-Type Password:</label>
                              <input type="password" name="{{ form.password2.name }}" class="form-control" value="{{ form.password2.value}}" />
                              <span class="text-danger">{{ form.password2.errors }}</span>
                          </div>
                            </div>
               
                          </div>
              
                            <button type="submit" class="btn btn-dark">Submit</button>
              
                          <a href="{% url 'login' %}" class="btn btn-dark">Login</a>
              
              
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

        </form>
    </div>
</div>

{% endblock %}